@import url(./font.css);
@import url(./reset.css);

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e1e1e1;
    width: 100%;
    height: 83px;
}
.logo {
    display: flex;
    align-content: start;
    align-items: center;
    gap: 30px;
    margin: 0 0 0 30px;
}
.logo h3{
    color: #000000;
    font-size: 24px;
    font-weight: 200;
}
.logo p{
    color: #606060;
    font-size: 20px;
}
.menu nav ul{
    display: flex;
    align-content: end;
    align-items: center;
    gap: 30px;
    margin: 0 30px 0 0;
}
.menu img {
    width: 40px;
    height: 40px;
}
ul li a {
    color: #AC0000;
    font-size: 19px;
    text-decoration: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foto-principal{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 897px;
    background-color: #afafaf;
}

.container-principal {
    display: flex;
    flex-direction: row;
    align-items: center;;
    text-align: start;
    width: 80%;
    margin: 0 auto;
}
.container-principal .avatar{
    margin-right: 16px;
}
.container-principal .apresentacao h3{
    font-size: 47px;
    margin-bottom: 10px;
}
.container-principal .apresentacao p{
    font-size: 30px;
    color: #373737;
}