@import url(./font.css);
@import url(./reset.css);

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e1e1e1;
    width: 100%;
    height: 83px;
}
.logo {
    display: flex;
    align-content: start;
    align-items: center;
    gap: 30px;
    margin: 0 0 0 30px;
}
.logo h3{
    color: #000000;
    font-size: 1.5rem;
    font-weight: 200;
}
.logo p{
    color: #606060;
    font-size: 1.25rem;
}
.menu nav ul{
    display: flex;
    align-content: end;
    align-items: center;
    gap: 30px;
    margin: 0 30px 0 0;
}
.menu img {
    width: 2.5rem;
    height: 2.5rem;
}
ul li a {
    color: #AC0000;
    font-size: 1.1875rem;
    text-decoration: none;
}
/* seção main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* seção principal */
.foto-principal{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 897px;
    background-color: #afafaf;
}

.container-principal {
    display: flex;
    flex-direction: row;
    align-items: center;;
    text-align: start;
    width: 80%;
    margin: 0 auto;
}
.container-principal .avatar{
    margin-right: 16px;
}
.container-principal .apresentacao h3{
    font-size: 47px;
    margin-bottom: 10px;
}
.container-principal .apresentacao p{
    font-size: 30px;
    color: #373737;
}
/* seção agendamentos */
.agendamentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1e1e1;
    width: 100%;
    height: auto;
}
.container-agenda{
    width: 80%;
    height: auto;
}
.container-agenda .foto-agenda{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 100px 0;
}
.container-agenda .foto-agenda p{
    font-size: 30px;
    padding-bottom: 30px;
}
.container-agenda .foto-agenda img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
/* seção atividades */
.container-atividades{
    width: 100%;
    height: auto;
    background-color: #e1e1e1;
}
.tabela-atividades {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: sans-serif;
    background-color: #e1e1e1;
    color: #111;
}

.tabela-atividades th,
.tabela-atividades td {
    padding: 14px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 0.95rem;
}

.tabela-atividades th {
    background-color: transparent; /* ou #f0f0f0 se quiser destacar */
    font-weight: 600;
}

.tabela-atividades td:last-child,
.tabela-atividades th:last-child {
    text-align: right;
    margin-right: 20px;
}

tr:hover {
    background-color: #f9f9f9;
}

.paginacao {
    margin-top: 20px;
    display: flex;
    justify-content: center;;
    gap: 12px;
}

.pagina {
    padding: 6px 12px;
    background-color: #e1e1e1;
    border-radius: 4px;
    font-size: 0.9rem;
    color: #e1e1e1;
    cursor: pointer;
    transition: background-color 0.2s;
}

.pagina:hover {
    background-color: #bbb;
}

.pagina.ativa {
    background-color: #999;
    font-weight: bold;
}
